anthropic==0.43.1
appdirs==1.4.4
atomicwrites==1.4.0
cramjam==2.8.3
discord==2.3.2
discord.py==2.4.0
dnspython==2.7.0
ecdsa==0.19.0
email_validator==2.2.0
fastapi==0.115.6
fastparquet==2024.5.0
Flask-Cors==5.0.0
imgurpython==1.1.7
jiter==0.8.2
jsonpointer==2.1
motor==3.6.0
openai==0.28.0
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
passlib==1.7.4
protobuf==3.20.3
pyasn1-modules==0.2.8
pydantic==2.10.5
pydantic-settings==2.7.1
pydantic_core==2.27.2
pyls-spyder==0.4.0
pymongo==4.9.2
PyMuPDF==1.25.1
PyPDF2==3.0.1
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-jose==3.3.0
python-multipart==0.0.20
replicate==1.0.4
rsa==4.9
setuptools==69.5.1
starlette==0.41.3
typing_extensions==4.12.2
uvicorn==0.34.0
wheel==0.43.0
